body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* #login-container {
    border: 3px solid black;
    width: 30vw;
    transition-timing-function: linear;
    transition-duration: 1s;
    transition-property: translate, width;
}
#login-container:hover {
    translate: 20px 0px;
    width: 35vw;
}

h1 {
    margin: 0px;
    padding: 20px;
}
#get-started {
    background-color: rgb(103, 146, 214);
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    transition: background-color 1s ease;
}
#get-started:hover {
    background-color: rgb(58, 113, 201);
} */

#container {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    width: 25vw;
    position: relative;
    animation-name: customAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes customAnimation {
    0% {
        top: 0px;
        left: 0px;
        background-color: red;
    }
    25% {
        top: 0px;
        left: 300px;
        background-color: green;
    }
    50% {
        top: 300px;
        left: 300px;
        background-color: yellow;
    }
    75% {
        top: 300px;
        left: 0px;
        background-color: violet;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: red;
    }
} */

#spinner {
    border: 8px solid rgb(247, 250, 240);
    border-top-color: rgb(255, 60, 0);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation-name: spinner;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}