body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
#registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#registration-form > div {
    width: 25%;
}
h1 {
    text-align: center;
}

span {
    display: block;
}
.form-field {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea, input[type="datetime-local"] {
    border: 1px solid gray;
    padding: 6px 10px;
    border-radius: 3px;
}
label {
    margin-bottom: 3px;
}
button {
    background-color: #2966a6;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 10px 0px;
    border-radius: 25px;
}
#asterick {
    color: red;
    font-size: 16px;
}
.flex {
    display: flex;
}